{% if package_id and not(expired) %}
    <div class="pf_im_hosting_announcement">
        <span>phpFox IM hosting: 100 {{_p('active_connections')}}.</span>
        <span>Status: <span id="pf_im_hosting_status">{% if status == 'on' %}On{% else %}Off{% endif %}</span>.</span>
        <p>{{_p('click_button_below_to_turn_on_off_hosting')}}</p>
        <a href="#" class="btn btn-primary" id="pf_im_toogle_hosting">Turn {% if status and status == 'on' %}Off{% else %}On{% endif %}</a>
    </div>
    <script>
        $(document).on('click', '#pf_im_toogle_hosting', function (evt) {
            var t = $(this),
                status = $('#pf_im_hosting_status');
            if (status.text() === 'On') {
                status.html('Off');
                t.text('Turn On');
            } else {
                status.html('On');
                t.text('Turn Off');
            }
            $.ajaxCall('im.toogleHosting', 'status=' + status.text());
        });
    </script>
{% else %}
    <div class="pf_im_hosting">
        {% if no_hosting %}
            <div class="alert alert-info">{{_p('host_it_myself')}}</div>
            <div class="pf_im_cancel">
                <a href="{{ url('/im/hosted') }}">{{_p('pay_im_hosting_package')}}</a>
            </div>
        {% else %}
            {% if expired %}
                <div class="alert alert-danger">{{_p('your_im_hosting_package_was_expired')}}</div>
            {% endif %}
            <div class="pf_im_hosting_title">
                {{_p('im_hosting_package')}}
            </div>
            <div class="pf_im_hosting_packages">
                <div>
                    <strong>{{_p('starter')}}</strong>
                    <em>$5<span> / {{_p('month')}}</span></em>
                    <span>
                        100 {{_p('active_connections')}}
                    </span>
                    <a href="{{ callback }}" class="pf_im_hosting_pay">{{_p('pay')}}</a>
                </div>
            </div>
            <div class="pf_im_cancel">
                <a href="{{ url('/im/no-hosting') }}">{{_p('no_thank_i_ll_host_it_myself')}}</a>
            </div>
        {% endif %}
    </a>
    <style>
        .app_grouping {
            display:block !important;
        }
    </style>
{% endif %}